:root{
  --pink:#e84393;
  --white :var(--white)
  
}
 body{
  margin:0; padding:0;
  box-sizing: border-box;
  font-family: verdana, geneva, tahoma, sans-serif;
  outline: none; border:none;
  text-decoration: none;
  text-transform: capitalize;
  transition: .2s linear;
}

html{
  font-size:62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;

}

header{
  position: absolute;
  left: 0; top: 2px; right:0;
  background: #FFACAC;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: 0.Srem 1rem rgba(0,0,0,1);

}

header .logo {
  font-family:"El Messiri";
  font-weight: 700;
  font-size: 36px;
  color: #171414;
}

header .navbar a:hover{
  --pink:#e84393;
}

header .navbar a{
  font-family: "Inter";
  font-weight: 500;
  font-size: 20px;
  padding: 0 1.5rem;
  color: #000000;

}

header .icons a{
  font-size: 2.5rem;
  color: #333;
  margin-left: 1.5rem;

}

header .icons a:hover{
  --pink:#e84393;
}

section{
  padding: 2rem 9%;
}

.home{
  display: flex;
  align-items: center;

}
.home .content h1{
  position: absolute;
  height: 124px;
  left: 162px;top: 500px;
  font-family: "Inknut Antiqua";
  font-size: 48px;
  letter-spacing: 0.3em;
  color: #1A1616;
}

 .baground{
  position: absolute;
  width: 1430px;
  height: 900px;
  left: 0px; top: 124px;
  background: url(image.png);
  opacity: 0.7;
}

